<div>
  <div>
    <div>

      <form fxLayout="column">
        <h3> Sign Up</h3>
        <mat-form-field appearance="outline">
          <input placeholder="Email" matInput type="email" class="formControl" #userEmail required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input placeholder="Password" matInput type="password" class="formControl" #userPwd required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input placeholder="Display Name" matInput type="text" class="formControl" #displayName required>
        </mat-form-field>
        <div fxLayout="row" class="formGroup">
          <button mat-raised-button (click)="authService.signUp(userEmail.value, userPwd.value, displayName.value)">Sign
            Up</button>
        </div>
      </form>
    </div>
  </div>

</div>