<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <div class="logo" fxLayout="row" fxLayoutAlign="center space-around">
        <img height="50px" width="110px" src="../../../assets/pixil-frame-0.png">
      </div>
      <form fxLayout="column" fxLayoutAlign="space-around">
        <mat-form-field appearance="fill">
          <input matInput type="text" class="formControl" placeholder="Username" #userName required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput type="password" class="formControl" placeholder="Password" #userPassword required>
        </mat-form-field>
      </form>

      <!-- Calling SignIn Api from AuthService -->
      <div fxLayout="row" fxLayoutAlign="center">
        <button color="accent" mat-raised-button (click)="authService.signIn(userName.value, userPassword.value)">Log In</button>
      </div>

      <!-- <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Don't have an account?<span class="redirect" routerLink="/sign-up"> Sign Up</span></span>
    </div> -->

  </div>