mat-card {
    margin: 10px;
}

form {
    @media screen and (max-width: 1000px) {
        padding-left: 150px;
        padding-right: 150px;
    }
    @media screen and (max-width: 640px) {
        padding-left: 100px;
        padding-right: 100px;
    }
    @media screen and (max-width: 415px) {
        padding-left: 25px;
        padding-right: 25px;
    }
    padding-left: 200px;
    padding-right: 200px;
}

.login {
    margin-bottom: 20px;
}

.sign-up {
    margin-bottom: 10px;
}

.forgot-pw {
    margin-bottom: 10px;
}

.logo {
    padding-top: 90px;
    padding-bottom: 80px;
    animation: MoveUpDown 1s linear infinite;
    position: relative;
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 50px;
    }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
