main {
    font-family: 'Ropa Sans', sans-serif !important;
    height: 85vh;
}

mat-card {
    margin: 20px;
}

mat-expansion-panel {
    margin-left: 20px;
    margin-right: 20px;
}

#add-button {
    background-color: #674ff1;
    right: 20px;
    bottom: 20px;
    position: fixed;
    z-index: 999;
}

.workout-card {
    height: auto;
    color: white;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.complete {
    background-color: rgb(95, 207, 95);
}

.incomplete {
    background-color: #ff5252;
}

.edit-button, .delete-button, .complete-button {
    margin-bottom: 10px;
}

.edit-button, .delete-button {
    background-color: grey;
}
