<main>
  <form action="">
    <div fxLayout="column" fxLayoutAlign="center" style="margin: auto; width: 60%;">
      <div fxLayout="row" fxLayoutGap="10px" style="margin-bottom: 10px">
        <button (click)="add()" mat-button class="add-button">Add</button>
        <button (click)="cancel()" mat-button class="cancel-button">Cancel</button>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input autocomplete="off" [(ngModel)]="workout.name" [ngModelOptions]="{ standalone: true }" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Body Parts</mat-label>
        <input autocomplete="off" [(ngModel)]="workout.bodyParts" [ngModelOptions]="{ standalone: true }" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Sets</mat-label>
        <input type="number" autocomplete="off" [(ngModel)]="workout.sets" [ngModelOptions]="{ standalone: true }" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Reps</mat-label>
        <input type="number" autocomplete="off" [(ngModel)]="workout.reps" [ngModelOptions]="{ standalone: true }" matInput>
      </mat-form-field>
    </div>
  </form>
</main>