<mat-sidenav-container style="height: 100%; width: 100%;" autosize>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" disableClose="true">
        <ul class="nav-menu">
            <li *ngIf="!authService.isLoggedIn"><button routerLink="/" (click)="sidenav.toggle()" mat-button>Sign
                    In</button></li>
            <li *ngIf="authService.isLoggedIn"><button routerLink="/workout" (click)="sidenav.toggle()"
                    mat-button>Workouts</button></li>
            <li *ngIf="authService.isLoggedIn"><button (click)="authService.signOut(); sidenav.toggle()" color="warn"
                    mat-raised-button>Sign Out</button></li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <button class="menu-button" (click)="sidenav.toggle()" mat-icon-button>
            <mat-icon aria-label="Button to open side-menu">menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>