<main>
  <header class="header">
    <div class="sub-header" fxLayout="column" fxLayoutAlign="center center">
      <div class="welcome" fxLayout="row" fxLayoutAlign="space-around center">Welcome!</div>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        {{ display }}<span id="cursor"></span>
      </div>
      <div class="keep-going" fxLayout="row" fxLayoutAlign="center center" [ngx-scroll-to]="bio" [@fade]="state"
        (@fade.done)="onDone($event)" style="cursor: pointer;">
        Keep Going!!
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" [ngx-scroll-to]="bio" style="cursor: pointer;">
        <mat-icon>arrow_downward</mat-icon>
      </div>
    </div>
  </header>
  <section #bio class="bio">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis
      hoc facere longius.
    </p>
  </section>
  <div class="flex-container wrapper">
    <section class="sidebar">
      Sidebar
      <p>
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
        1.10.32
        and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form,
        accompanied by English versions from the 1914 translation by H. Rackham.
      </p>
    </section>
    <section class="content">Content
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
        literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
        College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
        and
        going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
        comes
        from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
        written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The
        first
        line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
        1.10.32
        and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form,
        accompanied by English versions from the 1914 translation by H. Rackham.
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
        1.10.32
        and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form,
        accompanied by English versions from the 1914 translation by H. Rackham.
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
        literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
        College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
        and
        going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
        comes
        from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
        written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The
        first
        line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
        1.10.32
        and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form,
        accompanied by English versions from the 1914 translation by H. Rackham.
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
        1.10.32
        and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form,
        accompanied by English versions from the 1914 translation by H. Rackham.
      </p>
    </section>
  </div>
  <footer class="footer">Footer
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis
      hoc facere longius.
    </p>
  </footer>
</main>