<button mat-button (click)="typewriter()">CLICK</button>
<div fxLayout="column" fxLayoutGap="100px">
  <div class="intro-section" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="30px">
      <div fxLayout="row" class="welcome-heading">Welcome!</div>
      <div fxLayout="row" class="welcome-subheading">
        {{ display }}<span class="cursor"></span>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" [ngx-scroll-to]="bio" class="keep-going-link" [@fade]="state"
        (@fade.done)="onDone($event)">
        Keep Going!!
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" [ngx-scroll-to]="bio" class="keep-going-link">
        <mat-icon>arrow_downward</mat-icon>
      </div>
    </div>
  </div>
  <div #bio class="bio-section" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="space-around">
      <div fxLayout="row" fxLayoutAlign="center space-around">
        <h1 class="bio-heading">Biography</h1>
      </div>
      <div fxLayout="row" fxLayoutAlign="center space-around">
        <p class="bio-content">
          Hi, my name is Tristan Anguiano and I am a Software Engineer located in Omaha, NE. I currently am a Senior
          at the University of Nebraska at Omaha pursuing a Bachelor's Degree in Management Information Systems. In
          addition to school, I am also a Software Engineer intern for the Union Pacific Railroad.
        </p>
      </div>
    </div>
  </div>
  <div #experience class="experience-section" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="space-around" style="height: 100%; width: 100%;">
      <div fxLayout="row" fxLayoutAlign="center space-around">
        <h1 class="experience-heading">Experience</h1>
      </div>
      <div class="experience-content" fxLayout="row" fxLayoutAlign="center space-around">
      </div>
    </div>
  </div>
  <div #contact class="contact-section" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="space-around" style="height: 100%; width: 100%;">
      <div fxLayout="row" fxLayoutAlign="center space-around">
        <h1 class="contact-heading">Contact Me</h1>
      </div>
      <div class="contact-content" fxLayout="row" fxLayoutAlign="center space-around">
        <mat-card class="contact-card mat-elevation-z10">
          <!-- <form fxLayout="column">
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput autocomplete="off">
              <mat-icon matSuffix>face</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Phone</mat-label>
              <input matInput autocomplete="off">
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput autocomplete="off">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Message</mat-label>
              <textarea maxRows="5" matInput autocomplete="off"></textarea>
              <mat-icon matSuffix>message</mat-icon>
            </mat-form-field>
          </form> -->
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <a href="https://github.com/tanguiano" target="_blank">
              <img style="height: 85px; width: 100px; cursor: pointer;" src="../../../assets/gitHubLogos/Octocat.png">
            </a>
            <a href="https://www.linkedin.com/in/tristan-anguiano/" target="_blank">
              <img style="height: 85px; width: 100px; cursor: pointer;" src="../../../assets/linkedInLogos/LinkedIn [in]/Screen/2-Color/In-2C-128px-TM.png">
            </a>
            <a href="https://medium.com/@anguiano.dev" target="_blank">
              <img style="height: 85px; width: 100px; cursor: pointer;" src="../../../assets/mediumLogos/monogram/Monogram.png">
            </a>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>