/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

$mdc-theme-primary: #1565c0; // primary color
$mdc-theme-secondary: #388e3c; // secondary color

@import "~@angular-mdc/theme/material";

body {
    // font-family: 'Staatliches';
    font-family: dosis,"HelveticaNeue-CondensedBold","trebuchet ms",sans-serif;
    text-transform: uppercase;
    // letter-spacing: 0.1em;
    font-weight: 700;
    color: #444;
    height: 100vh;
    background-color: #f0ece3;
}