<main>
  <form>
    <div fxLayout="column" fxLayoutAlign="center" style="margin: auto; width: 60%;">
      <div fxLayout="row" fxLayoutGap="10px" style="margin-bottom: 10px">
        <button (click)="confirm()" mat-button class="confirm-button">Confirm</button>
        <button (click)="cancel()" mat-button class="cancel-button">Cancel</button>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="workout.name" [ngModelOptions]="{ standalone: true }" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Body Parts</mat-label>
        <input [(ngModel)]="workout.bodyParts" [ngModelOptions]="{ standalone: true }" matInput
          placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Sets</mat-label>
        <input type="tel" min="0" max="999" [(ngModel)]="workout.sets" [ngModelOptions]="{ standalone: true }" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Reps</mat-label>
        <input type="tel" min="0" max="999" [(ngModel)]="workout.reps" [ngModelOptions]="{ standalone: true }" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>
  </form>
</main>